body{
    overflow-x: hidden;
  }
  .carousel{
      margin-top:2%;
      
      height:70%;
      margin-left: 8.4%;    
  } 
  .thumbs-wrapper{
      display:none;
      
  }
  
  span{
    font-size: 1.5vw;
  }
  
  
  /* .footer2{
      width:75%;
      margin-left: 13.5%;
      border:none;
      border-top: 2px solid #cccccc;
      border-bottom: 2px solid #cccccc ;
      height:80px;
      
    } */
  
  
    .footer2{
      /* position: absolute; */
      /* bottom: 0px; */
      width:70%;
      margin-left: 15.2%;
      border:none;
      border-top: 2px solid #cccccc;
      border-bottom: 2px solid #cccccc ;
    }
    .footer2 ul li{
      list-style: none;
      display: inline-block;
      margin: 0;
      padding: 0 0.5rem 0 0;
      border-right: 1px solid #e6e7e8;
      vertical-align: middle;
      margin-top: 2%;
    }