.navbar{
    display: flex;
    width:75%;
    margin-left: 13.5%;
    border-bottom: 1px solid #cccccc;
}

.menu{
    display: flex;
    transition: all 0.4s ease;
list-style-type: none;
text-align: justify;
margin: 2rem 0px 0.5rem 0;
padding: 0;


}

.menu li{
    font-size: 0.8125rem;
    padding: 1rem 1.2rem;
    text-transform: uppercase;
}

.menu li a{
    color:#6b6c6e;
    text-align: left;
    display: inline-block;
    text-decoration: none;
}