.stories{
    margin-left: 13.7%;
}
.change{
height: 52px;
width: 100%;
}

/* .story{
    display: flex;
} */

.listsection p{
  font-family: 'latoui_reg';
  /* font-size: 174%; */
  font-size: 1.8vw;
  color: #6b6c6e;
  
  font-weight: normal;
  text-decoration: none;
  

}

.listsection-2{
    position: absolute;
    left:62%;
    
    width: 26%;
    height: 22%;
    
    
}



.blogdiv{
    margin-top:190px;
    margin-bottom: 8%;
    
}

